@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(#1c2431 420px, #181f2a 420px);
}

body * {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

p, a {
  opacity: 70%;
  text-decoration: none;
}

img.logo {
  width: 90px;
  position: absolute;
  top: 20px;
  left: 20px;
}

nav {
  text-align: right;
  margin: 22px 25px;
}

nav a {
  font-size: 12px;
}

nav a:nth-of-type(2) {
  margin: 0 20px;
}

div.content {
  text-align: center;
  width: 85%;
  margin: auto;
}

header img.intro {
  width: 100%;
  margin: 30px 0;
}

header img.background {
  position: absolute;
  top: 280px;
  left: 0;
  z-index: -1;
  width: 100%;
}

header h1 {
  font-size: 22px;
  line-height: 34px;
}

header p {
  margin: 20px 0;
}

header button {
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  border: none;
  padding: 15px 0px;
  width: 250px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  margin: 10px 0;
}

main section.feauters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 130px 0;
  gap: 100px;
}

main section.feauters div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 230px;
          flex: 1 1 230px;
}

main section.feauters div.two img {
  height: 70px;
  width: auto;
}

main section.feauters div img {
  width: 70px;
}

main section.feauters div h4 {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: 30px 0 10px;
}

main section.howWorks {
  text-align: left;
}

main section.howWorks img {
  width: 100%;
  margin: 40px 0;
}

main section.howWorks h2 {
  font-size: 18px;
  text-align: center;
}

main section.howWorks p {
  margin: 20px 0;
}

main section.howWorks a {
  color: #65e2d9;
  font-size: 13px;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  width: 145px;
}

main section.howWorks a img {
  width: 16px;
  margin: auto;
  vertical-align: -4px;
}

main section.team {
  margin: 200px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
  width: 85%;
}

main section.team > div {
  background-color: #202a3c;
  border-radius: 5px;
  text-align: left;
  position: relative;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

main section.team > div * {
  font-size: 12px;
}

main section.team > div.one > img {
  width: 25px;
  position: absolute;
  top: -20px;
  left: 5px;
  z-index: -1;
}

main section.team > div > p {
  line-height: 20px;
  padding-bottom: 25px;
}

main section.team > div div {
  letter-spacing: 1px;
}

main section.team > div div img {
  border-radius: 50%;
  width: 30px;
  float: left;
  margin-right: 10px;
}

main section.team > div div p {
  font-size: 9px;
  margin-top: 2px;
}
/*# sourceMappingURL=style.css.map */