@import '_variables.sass'
@mixin button
    background: linear-gradient(90deg,$colorCyan, $colorBlue)
    border: none
    padding: 15px 0px
    width: 250px
    border-radius: 30px
    cursor: pointer
    font-weight: 700
    margin: 10px 0

*
    padding: 0
    margin: 0
body
    background: linear-gradient($colorDarkBlue1 420px, $colorDarkBlue2 420px)
    *
        color: $colorWhite
        font-family: 'Open Sans', sans-serif
        font-size: $fontSizeBody
p, a
    opacity: 70%
    text-decoration: none
img.logo
    width: 90px
    position: absolute
    top: 20px
    left: 20px
nav
    text-align: right
    margin: 22px 25px
    a
        font-size: 12px
        &:nth-of-type(2)
            margin: 0 20px
div.content
    text-align: center
    width: 85%
    margin: auto
header
    img
        &.intro
            width: 100%
            margin: 30px 0
        &.background
            position: absolute
            top: 280px
            left: 0
            z-index: -1
            width: 100%
    h1
        font-size: 22px
        line-height: 34px
    p
        margin: 20px 0
    button
        @include button
main
    section.feauters
        display: flex
        flex-wrap: wrap
        margin: 130px 0
        gap: 100px
        div
            flex: 1 1 230px
            &.two
                img
                    height: 70px
                    width: auto
            img
                width: 70px
            h4
                font-size: 18px
                font-family: 'Raleway', sans-serif
                margin: 30px 0 10px
    section.howWorks
        text-align: left
        img
            width: 100%
            margin: 40px 0
        h2
            font-size: 18px
            text-align: center
        p
            margin: 20px 0
        a
            color: $colorCyan
            font-size: 13px
            border-bottom: 1px solid
            padding-bottom: 4px
            width: 145px
            img
                width: 16px
                margin: auto
                vertical-align: -4px
    section.team
        margin: 200px auto
        display: flex
        flex-wrap: wrap
        gap: 25px
        width: 85%
        >div
            background-color: $colorDarkBlue4
            border-radius: 5px
            text-align: left
            position: relative
            padding: 20px
            flex: 1 1 250px
            *
                font-size: 12px
            &.one>img
                width: 25px
                position: absolute
                top: -20px
                left: 5px
                z-index: -1
            >p
                line-height: 20px
                padding-bottom: 25px
            div
                letter-spacing: 1px
                img
                    border-radius: 50%
                    width: 30px
                    float: left
                    margin-right: 10px
                p
                    font-size: 9px
                    margin-top: 2px
